@import "tailwindcss";

:root {
  --branco: #ffffff;
  --preto: #171717;
  --azul: #3b82f6;
  --vermelho: #ef4444;
  --verde: #10b981;

  --atualizador: 0;
}

@theme inline {
  --color-branco: var(--branco);
  --color-preto: var(--preto);
  --color-azul: var(--azul);
  --color-vermelho: var(--vermelho);
  --color-verde: var(--verde);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --branco: #ffffff;
    --preto: #171717;
    --azul: #3b82f6;
    --vermelho: #ef4444;
    --verde: #10b981;
  }
}

body {
  background: var(--branco);
  color: var(--preto);
  font-family: Arial, Helvetica, sans-serif;
}
